*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 80rem) {
.container {
margin: 1em 2em;
}
}

header {
    font-family:'Times New Roman', Times, serif;
    color:rgb(181, 149, 101);
    background-color: bisque;
    position : relative;
}
ul {
    list-style: none;
}

body {
    background-color: rgb(183, 217, 155);
}

.onglets {
    display: flex;
    justify-content: flex-end;
    gap : 30px; 
    font-size: 20px;
    position : relative;
    right : 10px;
    bottom : 10px;
}

img {
    width : 200px;
    height : 150px;
    position: absolute;
    top: -80px;
    left:-200px;
}

main {
    background-color: bisque;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 50px;
}

h3 {
    font-size: 50px;
    gap: 15px;
}

h4 {
    color: rgb(181, 149, 101);
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}

p {
    color: rgb(181, 149, 101);
    font-size: 20px;
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 75px;
}

.general {
    display: flex;
    justify-content: flex-start;
    gap : 15px;
    position : absolute; 
    top : 75px; 
    left : 250px;
    font-size: 20px
}

h2 {
    color:rgb(181, 149, 101);
    font-size: 50px;
    display: flex;
    justify-content: center;
    position : relative;
    top : 10px;
    border : 3px  rgb(224, 231, 171)solid; 
    border-radius : 200px;
}

img {
    width : 200px;
    height : 150px;
    position: absolute;
    top: -10px;
    left:0px;
}

a {
    color:rgb(181, 149, 101);
    text-decoration: none;
}

li:hover {
   color :rgb(218, 174, 105)
}

a:hover {
    color :rgb(218, 174, 105)
}

footer {
    background-color:rgb(28, 46, 34); 
    color:rgb(181, 149, 101); 
    padding: 20px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}